.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contentCenter {
  display: flex;
  justify-content: center;
}

.itemsLeft {
  display: flex;
  flex-direction: column;
}

.lebelLeft {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.text-sm {
  font-size: 0.8rem;
}

#filterContainer{
  margin-bottom: 20px;
  margin-right: 20px;
}

.error-message { 
  width: 100%;
  margin-top: 0.25rem;
  font-size: .875em;
  color: var(--bs-form-invalid-color);
}

.flex-end {
  display: flex;
  justify-content: end;
  margin-right: 20px;
}

.margin-bt-20 {
  margin-bottom: 20px;
}